[workspace]
resolver = "3"
members = ["processing-ffi", "processing-render"]

[workspace.dependencies]
bevy = { version = "0.17", no-default-features = true, features = [
    "bevy_render",
    "bevy_color",
] }